# Ignore node_modules directory (this will be installed inside the Docker container)
node_modules/

# Ignore logs
npm-debug.log
yarn-error.log
*.log

# Ignore build files
build/
dist/

# Ignore version control files
.git/
.gitignore

# Ignore OS-specific files
.DS_Store
Thumbs.db
