@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary-dark: 231 82% 8%;
	--color-primary-light: 231 82% 92%;
	--color-lime-green: 165 75% 56%;
	--color-orange: 11 100% 62%;
	--color-pink-red: 310 56% 32%;
	--color-dark-purple: 310 56% 32%;
	--color-light-purple: 305 47% 65%;
}

@layer base {
	:root {
		--background: var(--color-primary-light);
		--foreground: var(--color-primary-dark);

		--primary: var(--color-lime-green);
		--primary-foreground: var(--color-primary-dark);

		--secondary: var(--color-orange);
		--secondary-foreground: var(--color-primary-dark);

		--accent: var(--color-pink-red);
		--accent-foreground: var(--color-primary-light);

		--muted: var(--color-light-purple);
		--muted-foreground: var(--color-primary-dark);

		--popover: var(--color-primary-light);
		--popover-foreground: var(--color-primary-dark);

		--card: var(--color-primary-light);
		--card-foreground: var(--color-primary-dark);

		--border: var(--color-dark-purple);
		--input: var(--color-dark-purple);

		--destructive: 0 84% 60%;
		--destructive-foreground: var(--color-primary-light);

		--ring: var(--color-lime-green);

		--radius: 0.5rem;
	}

	.dark {
		--background: var(--color-primary-dark);
		--foreground: var(--color-primary-light);

		--primary: var(--color-lime-green);
		--primary-foreground: var(--color-primary-dark);

		--secondary: var(--color-orange);
		--secondary-foreground: var(--color-primary-light);

		--accent: var(--color-pink-red);
		--accent-foreground: var(--color-primary-light);

		--muted: var(--color-dark-purple);
		--muted-foreground: var(--color-primary-light);

		--popover: var(--color-primary-dark);
		--popover-foreground: var(--color-primary-light);

		--card: var(--color-primary-dark);
		--card-foreground: var(--color-primary-light);

		--border: var(--color-light-purple);
		--input: var(--color-light-purple);

		--destructive: 0 62% 30%;
		--destructive-foreground: var(--color-primary-light);

		--ring: var(--color-lime-green);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
